.password{
    width: 97%;
    height: 130px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.buttons button{
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    margin-left: 10px;
    border: 0.2px solid lightgray;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password button:hover{
    background-color: var(--accent-color);
    color: white;
    transition: 0.3s;
    border: 1px solid var(--accent-color);
}
.password img{
    height: 45px;
}
.buttons{
    display: flex;
}
.password button:hover img{
    filter: invert(1) brightness(2);
}
.passwordInfo{
    margin-left: 10px;
    font-size: 0.8rem;
    word-wrap: break-word;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.passwordInfo h3{
    margin: 0;
    margin-bottom: 5px;
}
.passwordInfo h3:first-child{
    margin-top: 5px;
}
.lastUpdate{
    margin-left: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 0.8rem;
}
.securityRank{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: -5px;
}
.securityRank h3{
    font-size: 0.9rem;
    margin: 0;
}
.rankingBar{
    width: 90px;
    height: 5px;
    background-color: lightgray;
    margin-top: 5px;
}
.verySecure{
    height: 100%;
    width: 100%;
    background-color: green;
}
.secure{
    height: 100%;
    width: 75%;
    background-color: rgb(65, 214, 65);
}
.needsImprovement{
    height: 100%;
    width: 50%;
    background-color: orange;
}
.insecure{
    height: 100%;
    width: 25%;
    background-color: red;
}
.deleteModalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 2;
}
.deleteModal{
    width: 450px;
    height: 200px;
    z-index: 3;
    position: fixed;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    color: var(--secondary-color);
    background-color: var(--main-color);
}
.deleteModal h3{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.hideDeleteModalBtn{
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    border:none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
.hideDeleteModalBtn:hover{
    background-color: var(--accent-color);
}
.deleteBtn{
    background-color: var(--main-color);
    border: 1px solid gray;
    border-radius: 15px;
    width: 25%;
    height: 45px;
    cursor: pointer;
}
.deleteBtn:hover{
    background-color: var(--accent-color);
    color: var(--main-color); 
    transition: 0.3s;
    border: 1px solid var(--accent-color)
}
@media screen and (max-width: 900px){
    .password{
        height: 440px;
        flex-direction: column;
    }
   .buttons{
    display: flex;
    margin-top: 10px;
   }
   .passwordInfo{
    margin-top: 10px;
    margin-left: 0;
    width: 97%;
   }
   .securityRank{
    margin-top: 10px;
   }
   .lastUpdate{
    margin: 0;
    margin-top: 15px;
   }
}